{
  "ver": "1.1.0",
  "uuid": "84c51c91-da08-474e-b5a9-99b5ae18fc25",
  "importer": "typescript",
  "isPlugin": false,
  "loadPluginInWeb": true,
  "loadPluginInNative": true,
  "loadPluginInEditor": false,
  "subMetas": {}
}