<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{78,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{78,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>qd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,83},{78,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>qd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,164},{78,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>qd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{78,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>qd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{78,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>qd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{78,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>qd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>qd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{78,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeamImage1.png</string>
            <key>size</key>
            <string>{244,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0640253342b5fca2f7342fc5cef8d772$</string>
            <key>textureFileName</key>
            <string>TeamImage1.png</string>
        </dict>
    </dict>
</plist>
