<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,156},{60,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{60,72}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{74,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{62,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{62,86}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{52,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{52,84}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,76}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,316},{70,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{70,70}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{50,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{50,82}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qd_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,244},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{70,70}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeamImage3.png</string>
            <key>size</key>
            <string>{128,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb285f2fde5b90437b1caee9958b4d9d$</string>
            <key>textureFileName</key>
            <string>TeamImage3.png</string>
        </dict>
    </dict>
</plist>
