<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-disconnectRollView-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{187,212}</string>
                <key>spriteSourceSize</key>
                <string>{189,214}</string>
                <key>textureRect</key>
                <string>{{1,689},{187,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-disconnectRollView-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{91,82}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1,903},{91,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7-timerToQuit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,131}</string>
                <key>spriteSourceSize</key>
                <string>{98,131}</string>
                <key>textureRect</key>
                <string>{{923,1},{98,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,134}</string>
                <key>spriteSourceSize</key>
                <string>{147,134}</string>
                <key>textureRect</key>
                <string>{{625,504},{147,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{208,79}</string>
                <key>spriteSourceSize</key>
                <string>{208,83}</string>
                <key>textureRect</key>
                <string>{{190,689},{208,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,36}</string>
                <key>spriteSourceSize</key>
                <string>{118,36}</string>
                <key>textureRect</key>
                <string>{{293,59},{118,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_disconnect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,139}</string>
                <key>spriteSourceSize</key>
                <string>{162,139}</string>
                <key>textureRect</key>
                <string>{{812,280},{162,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kickout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,155}</string>
                <key>spriteSourceSize</key>
                <string>{158,155}</string>
                <key>textureRect</key>
                <string>{{618,347},{158,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_longTimeNoPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{130,158}</string>
                <key>textureRect</key>
                <string>{{493,504},{130,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_maintain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,141}</string>
                <key>spriteSourceSize</key>
                <string>{148,141}</string>
                <key>textureRect</key>
                <string>{{580,664},{148,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_recharge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,159}</string>
                <key>spriteSourceSize</key>
                <string>{196,159}</string>
                <key>textureRect</key>
                <string>{{271,689},{196,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_userStatusError.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,131}</string>
                <key>spriteSourceSize</key>
                <string>{136,131}</string>
                <key>textureRect</key>
                <string>{{723,653},{136,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{618,814},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{236,45}</string>
                <key>spriteSourceSize</key>
                <string>{236,49}</string>
                <key>textureRect</key>
                <string>{{55,59},{236,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mail_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{73,52}</string>
                <key>textureRect</key>
                <string>{{1,59},{73,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ping_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{618,59},{192,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ping_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{812,134},{192,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ping_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{432,689},{192,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ping_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{618,205},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{293,97},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,56}</string>
                <key>spriteSourceSize</key>
                <string>{924,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{920,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,90}</string>
                <key>spriteSourceSize</key>
                <string>{539,90}</string>
                <key>textureRect</key>
                <string>{{85,903},{531,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viewBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,490}</string>
                <key>spriteSourceSize</key>
                <string>{553,490}</string>
                <key>textureRect</key>
                <string>{{1,134},{553,490}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ca4025b691633a804c8f586909dee1:61d2b6f21004000010fad3675f708580:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
