<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_01.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_02.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{0,117},{100,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_03.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{100,0},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_03_g.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{0,351},{90,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p_04.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{0,234},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_04_g.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{117,351},{90,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p_05.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{192,0},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_05_g.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{376,0},{90,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_06.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{100,117},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_06_g.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{234,351},{90,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p_07.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{92,234},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_07_g.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{284,117},{90,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_08.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{284,0},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_08_g.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{276,234},{90,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_09.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{192,117},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_09_g.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{374,117},{90,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_10.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{184,234},{92,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_10_g0.webp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,117}</string>
                <key>spriteSourceSize</key>
                <string>{100,117}</string>
                <key>textureRect</key>
                <string>{{366,234},{90,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokjer.png</string>
            <key>size</key>
            <string>{466,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:777dafad36b13535ddd4e0770e584e72:e4459d5028d263c0ba353f164414af94:dba03ed3ea0f9d180382f7a6a0c87689$</string>
            <key>textureFileName</key>
            <string>pokjer.png</string>
        </dict>
    </dict>
</plist>
