<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,292}</string>
                <key>spriteSourceSize</key>
                <string>{706,292}</string>
                <key>textureRect</key>
                <string>{{512,1},{706,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tc_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,203}</string>
                <key>spriteSourceSize</key>
                <string>{578,203}</string>
                <key>textureRect</key>
                <string>{{353,709},{578,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,462}</string>
                <key>spriteSourceSize</key>
                <string>{509,462}</string>
                <key>textureRect</key>
                <string>{{1,1},{509,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,350}</string>
                <key>spriteSourceSize</key>
                <string>{351,350}</string>
                <key>textureRect</key>
                <string>{{1,465},{351,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11215e3587c070676090474ab9426389:7cbcf97a46818927a87fc574223bd58b:91b4b0afb60230adc952033e674adc92$</string>
            <key>textureFileName</key>
            <string>main2.png</string>
        </dict>
    </dict>
</plist>
