<plist version="1.0">&lt;dict&gt;&amp;lt;key&amp;gt;frames&amp;lt;/key&amp;gt;&amp;lt;dict&amp;gt;&amp;lt;/dict&amp;gt;&amp;lt;key&amp;gt;metadata&amp;lt;/key&amp;gt;&amp;lt;dict&amp;gt;&amp;amp;lt;key&amp;amp;gt;format&amp;amp;lt;/key&amp;amp;gt;&amp;amp;lt;integer&amp;amp;gt;3&amp;amp;lt;/integer&amp;amp;gt;&amp;amp;lt;key&amp;amp;gt;pixelFormat&amp;amp;lt;/key&amp;amp;gt;&amp;amp;lt;string&amp;amp;gt;RGBA8888&amp;amp;lt;/string&amp;amp;gt;&amp;amp;lt;key&amp;amp;gt;premultiplyAlpha&amp;amp;lt;/key&amp;amp;gt;&amp;amp;lt;false/&amp;amp;gt;&amp;amp;lt;key&amp;amp;gt;realTextureFileName&amp;amp;lt;/key&amp;amp;gt;&amp;amp;lt;string&amp;amp;gt;MegaJackpot（export）.png&amp;amp;lt;/string&amp;amp;gt;&amp;amp;lt;key&amp;amp;gt;size&amp;amp;lt;/key&amp;amp;gt;&amp;amp;lt;string&amp;amp;gt;2034,1962&amp;amp;lt;/string&amp;amp;gt;&amp;lt;/dict&amp;gt;&lt;/dict&gt;</plist>